<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

</head>
<body>

<div class="grid">

    <div class="item item-1">
        <h1><a href="/" class="aref">Regresar</a> Gestión de Pacientes</h1>
    </div>

    <div class="item item-2">
        <form th:action="@{/savePatient}" method="post" th:object="${editedPatient}" class="formSave">

            <input type="hidden" name="idPatient" th:field="*{idPatient}"/>

            <div class="form-group">
                <label for="firstName">Nombre:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required/>
            </div>

            <div class="form-group">
                <label for="lastName">Apellido:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required/>
            </div>

            <div class="form-group">
                <label for="address">Dirección:</label>
                <input type="text" id="address" name="address" th:field="*{address}" required/>
            </div>

            <div class="form-group">
                <label for="ci">Cédula:</label>
                <input type="text" id="ci" name="ci" th:field="*{ci}" required/>
            </div>

            <div class="form-group">
                <label for="phone">Teléfono:</label>
                <input type="text" id="phone" name="phone" th:field="*{phone}" required/>
            </div>

            <button type="submit" class="btn-submit">Aceptar</button>
        </form>

    </div>

    <div class="item item-3">
        <table>
            <thead>
            <form th:action="@{/findById}" method="get">
                <label for="patientId">Buscar paciente por ID:</label>
                <input type="text" id="patientId" name="id">
                <button type="submit">Buscar</button>
            </form>
            </thead>

            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Cédula</th>
                <th>Teléfono</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="p : ${patientById != null} ? ${patientById} : ${patients}">
                <td th:text="${p.idPatient}"></td>
                <td th:text="${p.firstName}"></td>
                <td th:text="${p.lastName}"></td>
                <td th:text="${p.address}"></td>
                <td th:text="${p.ci}"></td>
                <td th:text="${p.phone}"></td>
                <td>
                    <form th:action="@{/deletePatient}" method="post">
                        <input type="hidden" name="id" th:value="${p.idPatient}"/>
                        <button type="submit" class="btn-delete">Eliminar</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/editPatient}" method="get">
                        <input type="hidden" name="id" th:value="${p.idPatient}"/>
                        <button type="submit">Editar</button>
                    </form>
                </td>

            </tr>
        </table>
    </div>
</div>
</body>
</html>

<style>
    .aref {
        color: white;
        background-color: #7c7c7c;
        text-decoration: none;
        padding: 10px;
        margin: 0 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .aref:hover {
        background-color: #2f2f2f;
    }

    .item-1 {
        background-color: #224c83;
        color: white;
    }
</style>